form {
  color: #777;
  text-align: center;
}

form p {
  color: #777;
}

label {
  margin: 20px;
}

input {
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #777;
  text-align: center;
  color: #777;
}

input:focus {
  outline: none;
}

input.hasError {
  border: solid 1px #e74c3c;
}

.validText {
  color: #2ecc71;
}

.errorText {
  font-size: 12px;
  color: #e74c3c;
}

@media (min-width: 769px) {
  label {
    text-align: center;
  }

  input {
    padding: 12px 10px;
    font-size: 16px;
  }
  .nameInputs {
    display: flex;
    justify-content: space-around;
  }

  .submit {
    display: block;
    margin: 0px auto 40px;
  }
}

@media (max-width: 768px) {
  input {
    padding: 6px 5px;
    font-size: 12px;
  }

  .submit {
    display: block;
    margin: 0px auto 20px;
  }
}
